a{
	color:green;
  }
  
  
  #ss_1{
	  color: #e31717;
  
  }
  
  .success{
	   color: #000000;
	   background-color:#109C31;
	   border: 5px solid #070707;
	   box-shadow: 15px 3px 57px #000000
  }
  
  
  body{
	   color: #000000;
	   background-color: #FFFFFF;
	   border: 5px solid #070707;
  }
  
  .aaa{
	   color: #000000;
	   background-color:#109C31;
	   border: 5px solid #070707;
	   box-shadow: 15px 3px 57px #000000
  }
  
  .qqq{
	   color: #000000;
	   background-color: #109C31;
	   border: 5px solid #070707;
	   box-shadow: 15px 3px 57px #000000
  }

  #navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 2px solid #109C31;
	border-radius: 20px 5px;
	width: 550px;
	text-align: center;
	background-color: #228B22;
  }
  #navbar a {
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	width: 100px;
  }
  #navbar a:hover {
	border-radius: 20px 5px;
	background-color: #109C31;
  }

  #navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  #navbar li { display: inline; }

 



