* {
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	background: #e4e4e4 url("images/bg.jpg") repeat;
	font-family: Arial;
	font-size: 12px;
	color: #4b4b4b;
	line-height: 18px;
	text-shadow: 0 1px 0 white;
}

::selection {
	background-color: #109C31;
	color: white;
	text-shadow: none;
}

::-moz-selection {
	background-color: #109C31;
	color: white;
	text-shadow: none;
}

a {
	color: #109C31;
	text-decoration: underline;
}

p {
	margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6 {
	color: black;
	line-height: normal;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
	margin-top: 15px;
}

h3 {
	font-size: 14px;
}

h1+p,h2+p,h3+p {
	margin-top: 3px;
}

a img {
	border: none;
	outline: none;
}

ul,ol,dl {
	margin: 0 0 0 30px;
}

dt {
	font-weight: bold;
}

dd {
	font-style: italic;
}

input,button,textarea {
	display: inline-block;
}

input[type=text],textarea,select {
	padding: 5px;
	height: auto;
	border: 1px solid #bcbcbc;
}

input[type=text],textarea,button {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

input[type=checkbox],input[type=radio] {
	margin: 3px 5px 0 0;
	float: left;
}

input[type=text] {
	width: 200px;
}

select {
	width: 210px;
}

textarea {
	width: 300px;
	height: 100px;
}

label {
	display: block;
	vertical-align: middle;
	color: black;
}

input:focus,button:focus,textarea:focus,select:focus {
	outline: none;
	border: 1px solid #999999;
	box-shadow: none;
}

input:-moz-placeholder {
  color: #c0c0c0;
}

input::-webkit-input-placeholder {
  color: #c0c0c0;
}

button {
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #109C31;
	background-repeat: no-repeat;
    background-image: -ms-linear-gradient(top, #109C31, #109C31);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#109C31), to(#109C31));
    background-image: -webkit-linear-gradient(top, #109C31, #109C31);
    background-image: -o-linear-gradient(top, #109C31, #109C31);
    background-image: linear-gradient(top, #109C31, #109C31);
    background-image: -moz-linear-gradient(top, #109C31, #109C31);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b92c2c', endColorstr='#a12424', GradientType=0);
	border: 1px solid #a12424;
	padding: 8px 20px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	height: 37px;
	text-shadow: none;
}

button:hover {
	background-position: 0 -15px;
}

*:first-child+html button {
	width: 90px;
}

.row {
	overflow: hidden;
	margin: 10px 0;
}

.col {
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

table.bordered {
	margin: 10px 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #bcbcbc;
	width: 100%;
	background-color: white;
}

table.bordered th, table.bordered td {
	border: 1px solid #bcbcbc;
	padding: 5px;
	vertical-align: top;
}

table.bordered th {
	background-color: #ececec;
	text-align: left;
	font-weight: bold;
	color: black;
}

table.bordered tbody tr:hover {
	background-color: #f2f2f2;
}

.wrapper {
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	
}
/*Шапка*/
.header {
	border-bottom: 13px solid #109C31;
	padding: 40px 0 0 0;
	overflow: hidden;
	

}


.logo {
	display: inline-block;
	float: left;
	color: #109C31;
	font-weight: bold;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
}

*:first-child+html .logo a {
	line-height: normal;
}

.logo p {
	margin-top: -3px;
}

.black {
	color: black;
}

.gray {
	color: #a3a3a3;
	font-size: 18px;
}

.logo p {
	font-size: 12px;
}

/*Навигация*/
ul.nav {
	margin: 0;
	padding: 20px 0 0 0;
	overflow: hidden;
	float: right;
}

ul.nav li {
	float: left;
	list-style: none;
	padding: 0 0 0 35px;
}

ul.nav li a {
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 0 0 0 35px;
	display: block;
	color: black;
}

ul.nav li a.active {
	color: #109C31;
}

ul.nav li a:hover {
	color: #109C31;
}
/*Контент*/
.content {
	padding: 20px 0;
}
/*Правая колонка*/
.rightCol {
	float: right;
	margin-left: 20px;
	width: 220px;
}

ul.rightNav {
	margin: 0 0 20px 0;
	padding: 0;
	border: 1px solid #bcbcbc;
	background-color: #ececec;
}

ul.rightNav li {
	list-style: none;
}

ul.rightNav li a {
	color: black;
	text-decoration: none;
	padding: 8px 10px 8px 30px;
	display: block;
	border-top: 1px solid #bcbcbc;
	background: url("images/arrow-right.png") 13px 50% no-repeat;
}

ul.rightNav li:first-child a {
	border-top: none;
}

ul.rightNav li a:hover {
	background-color: white;
}

.block {
	margin: 0 0 20px 0;
	border: 1px solid #109C31;
	background-color: #ececec;
}

.block>h3 {
	padding: 8px 10px;
	color: white;
	background-color: #109C31;
	text-shadow: none;
}

.block p {
	color: black;
	margin: 0;
	padding: 10px 10px 0;
}

.block a.more {
	padding-bottom: 10px;
	display: block;
}

.main {
	overflow: hidden;
}

.main img {
	margin-right: 15px;
	border: 10px solid #cfcfcf;
}
/*Подвал*/
.footer {

}

.footer p {
	
}


.aaazzlp{
	border: 10px solid #a12424;
	
        
}


.termux1 {
	border: 10px solid #000000;
}

.termux2 {
	border: 10px solid #109C31;
}



@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #22f00f;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #276614;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
*{box-sizing: border-box;}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
nav {background: #413F3C;}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
  border-left: 1px solid black;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {  
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #ddbe86;}
.topmenu .fa, 
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}


.Blog{
	border: double;
	
	 }
}


.text{
    text-align:  center;
   }

   /* Контейнер подсказок */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* Если вы хотите, чтобы точки под перемещаемым текстом */
  }
  
  /* Текст подсказки */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
  
	/* Расположите текст подсказки */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
  
	/* Исчезают в подсказке */
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  /* Подсказка стрелка */
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }

.textyou {
	border: solid;
}

.textlive {
	          background: linear-gradient(to bottom, #222 0%, #222 50%, #111 50%, #111 100%);
			  text-transform: uppercase;
			  color: transparent;
			  color: fff;
	          top: 4px;
			  left: 4px;
			  z-index: -1;
			  background: linear-gradient(45deg,#ff0,#0f0,#f00,#00f,#0f0);

}

.textcolorjjj {
                    background-color: lightgrey;
                    color: blue;
}


 
.Rracivaff{
    padding: 2px; /* Поля вокруг текста ссылки */
    text-decoration: none; /* Убираем подчёркивание */
   }
.Rracivaff:hover {
    background: #000000; /* Цвет фона при наведении на ссылку курсора */
    color: yellow; /* Новый цвет текста */
   }


